$url-base-line: "__FRONTEND_URL__/img/weather/line/svg-static";
$url-base-fill: "__FRONTEND_URL__/img/weather/fill/svg-static";
$version: unique-id();

* {
    all: revert;
    margin: 0;
    padding: 0;
    font-family: "current-weather_montserat", Arial, sans-serif;
}

.elem {
    --base: 10;
    font-display: swap;
    display: block;
    overflow: hidden;
}

.elem.w-s {
    --base: 12;
}

.elem.w-m {
    --base: 14;
}

.elem.w-l {
    --base: 16;
}

.elem.w-xl {
    --base: 18;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cell {
    text-align: right;
    padding:
        calc(0.2px * var(--base))
        calc(0.5px * var(--base))
        calc(0.2px * var(--base))
        calc(3.3px * var(--base));
    background: url(#{$url-base-line}/raindrops.svg?#{$version}) no-repeat calc(0% - 0.5px * var(--base)) center;
    background-size: calc(4px * var(--base));
    margin-left: calc(1.5px * var(--base));
    white-space: nowrap;
}

.value {
    font-size: calc(2.4px * var(--base));
}

.unit {
    font-size: calc(2px * var(--base));
    margin-left: 0.2em;
}

.current {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;

    .primary {
        justify-content: space-evenly;
        margin: calc(-2px * var(--base)) 0 0; // those clouds have a lot of whitespace

        .cloud {
            width: calc(14px * var(--base));
            max-height: calc(14px * var(--base));
        }

        .temp {
            .value {
                font-size: calc(5px * var(--base));
            }

            .unit {
                font-size: calc(4px * var(--base));
            }
        }
    }

    .secondary {
        justify-content: space-evenly;
        margin-bottom: calc(2px * var(--base));

        .prec {
            background-image: url(#{$url-base-line}/raindrops.svg?#{$version});
        }

        .wind {
            background-image: url(#{$url-base-fill}/windsock.svg?#{$version});
        }
    }
}


.today {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;

    .cells {
        width: 33.3333333333333333333%;
        overflow: hidden;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:not(:first-child) {
            border-left: 1px solid #ccc;
        }
    }

    .cell {
        padding:
            calc(0.4px * var(--base))
            calc(0.5px * var(--base))
            calc(0.4px * var(--base))
            calc(2.5px * var(--base));
        background-size: calc(2.5px * var(--base));
        background-position: 0% center;
        font-weight: 500;
    }

    .value {
        font-size: calc(1.5px * var(--base));
    }

    .unit {
        font-size: calc(1.1px * var(--base));
    }

    .temp {
        background-image: url(#{$url-base-fill}/thermometer.svg?#{$version});
    }

    .wind {
        background-image: url(#{$url-base-fill}/windsock.svg?#{$version});
    }

    .gusts {
        background-image: url(#{$url-base-fill}/umbrella-wind-alt.svg?#{$version});
    }

    .prec {
        background-image: url(#{$url-base-fill}/raindrops.svg?#{$version});
    }

    .sunrise {
        background-image: url(#{$url-base-fill}/sunrise.svg?#{$version});
    }

    .sunset {
        background-image: url(#{$url-base-fill}/sunset.svg?#{$version});
    }
}